/* Your styles should be mobile-first and responsive */

/**
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example:
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css
  *
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
h1 {
  font-size: 3rem;
}
@media (max-width: 700px) {
  .main {
    width: auto;
    height: auto;
  }
}

body {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(70, 214, 252);
  background: radial-gradient(
    circle,
    rgba(70, 214, 252, 1) 0%,
    rgba(21, 77, 255, 1) 100%
  );
}

main {
  text-align: center;
  border-radius: 10px;

  /* min-height: 50vh; */
  background-color: white;
  height: auto;
  width: 700px;
}

.question-div {
  font-size: 1.5rem;
}
.question-count {
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}
.question-count span {
  padding: 3px;
  font-size: 1.2rem;
}
.question-list {
  /* display: flex; */
  width: auto;
  /* flex-wrap: wrap;
  word-wrap: break-word; */
  flex-direction: column;
  height: auto;
}
.question-list > input {
  width: 90%;
  padding: 5px;
  margin: 5px 0;
  align-self: center;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  /* flex-wrap: wrap; */
  background-color: white;
  border: 2px solid lightgray;
  border-radius: 5px;
  white-space: normal;
}
.question-list > input:hover {
  border: 2px solid grey;
}

.start-buttons {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 50px;
}
.start-buttons button {
  height: 100%;
  font-size: 150%;
  font-weight: 700;
  /* margin: 0px 5px 0px 5px; */

  width: 80%;
  justify-content: space-evenly;
  border-radius: 5px 5px 0px 0px;
  background-color: lightgray;
  border: 1px solid lightgray;
}
.restart-buttons {
  height: 29%;
  width: 100%;
}
.final-score {
  font-size: 1.3rem;
}
.restart-buttons button {
  height: 100%;
  margin: auto;
  width: 100%;
  background-color: rgba(0, 0, 50, 20%);
  border: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 2rem;
}
#finish-text {
  font-size: 3rem;
}
button {
  cursor: pointer;
}
.correct {
  outline: 2px solid green;
}
.incorrect {
  outline: 2px solid red;
}
#next-button {
  width: 100%;
  border: none;
  border-top: 2px solid lightgray;
  font-size: 1.5rem;
  font-weight: 600;
  background: lightgray;
  height: 50px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}
