* {
    font-family: Arial, Helvetica, sans-serif;
}
body {
    padding: 0;
    margin: 0;
      display: flex;
    flex-direction: column;
      justify-content: center;
    align-items: center;
    min-height: 100vh;
background: rgb(70,214,252);
background: radial-gradient(circle, rgba(70,214,252,1) 0%, rgba(21,77,255,1) 100%);

}
main {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    min-width: 75%;
    height: 300px;
    background-color: white
    ;
}

.question-div {
    border: 2px dotted paleturquoise;
    height: 50px;



}
.question-section {
    border: 2px dotted paleturquoise;

}
.question-list {
    display: flex;
    /* flex-direction: column; */
    width: 100%;
  border: 1px dotted blue;
/* align-items: flex-start;
align-content: stretch; */
display: flex;
flex-direction: column;
flex-wrap: wrap;
/* align-items: stretch; */
align-content: stretch;
height: 175px;

}
.question-list > label {
border: 1px solid black;

    /* flex-grow: 1; */
    /* flex-basis: auto; */

    width: 80%;
    padding: 5px;
    margin: auto;

    align-self: center;



}
.submit-button > button {
display: block;



}